<main class="main">
  <div class="content">

    <h1>Hello</h1>
    <img src="assets/images/come-on.gif" alt="gif"/>


    <div>
      <h1>Are youu readyyy???</h1>

     <div class="btn-container">
       <h1>Team A</h1>
       <h1>Team B</h1>
     </div>
      <p id="counterValue">{{displayCounterValue}}</p>
      <div class="btn-container">
        <h1>Team A Points</h1>
        <h1>Team B Points</h1>
      </div>
      <div class="btn-container">
        <h1>{{displayCounterValue}}</h1>
<!--        <h1>{{displayCounterValue}}</h1>-->
      </div>
      <div class="btn-container">
        <a class="waves-effect waves-light btn gradient-2" (click)="incrementCounter()">Add Point</a>
        <a class="waves-effect waves-light btn gradient-2" (click)="incrementCounter()">Add Point</a>
      </div>

    </div>


  </div>
</main>
